
@model IEnumerable<Workplaces.Models.Workplace>

<div style="margin-top: 2em" class="center aligned ui action input">
    <form asp-controller="Orders" asp-action="Index">
        <input class="ui input" type="date" id="date" name="date"
               placeholder="Выберете дату, в котрую хотите работать..."
               min="2021-09-01" max="2022-09-01">
            <button type="submit" style="color: #54354F;border:none; background-color: transparent" value="Find places">
                <i class="search icon"></i>
            </button>
    </form>
</div>
@ViewBag.Date
<table style="margin-top: 2em" class="table">
    <thead>
        <tr ALIGN="CENTER" VALIGN=”MIDDLE”>
            <th>
                <h3> @Html.DisplayNameFor(model => model.PlaceNumber)</h3>
            </th>
            <th>
                <h3>Items</h3>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @using (Html.BeginForm("OrderTable", "Orders", new { id = item.Id, date = DateTime.Now }, FormMethod.Get))
            {
                <tr ALIGN="CENTER" VALIGN=”MIDDLE”>
                    <td>
                       <h4 class="ui center aligined header"> @Html.DisplayFor(modelItem => item.PlaceNumber)</h4>
                    </td>
                    <td>

                            @foreach (var p in ViewBag.PItems)
                            {
                                if (p.WorkplaceId == item.Id)
                                {
                                    foreach (var i in ViewBag.Items)
                                    {
                                        if (p.ItemId == i.Id)
                                        {
                                            @i.Name<br />

                                        }
                                    }
                                }
                            }
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Order" class="ui button" style="background-color: #54354F; color: white" />
                        </div>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

<h2 style="color: #515151; margin-bottom: 2em; margin-top: 2em" class="ui header">
    Your Orders
</h2>
<div class="ui cards">
    @foreach (Orders orders in ViewBag.CorrentUserOrders)
    {
        using (Html.BeginForm("CancelOrder", "Orders", new { id = orders.Id }, FormMethod.Get))
        {

            <div style="margin-left: 2em" class="ui card">
                <div class="content">
                    <div class="center aligned header">
                        <i class="calendar outline icon"></i>
                        @orders.Date.Day/@orders.Date.Month
                    </div>
                    <div style="margin-top: 1em" class="center aligned description">
                        <h5>
                            Place number
                            @orders.Workplace.PlaceNumber
                        </h5>
                    </div>
                </div>
                <button class="ui bottom attached button" style="background-color: white; color:#54354F" type="submit"><i class="x icon"></i>Сancel</button>

            </div>
        }
    }
 </div>
