
@model IEnumerable<Workplaces.Models.Workplace>

@{
    ViewData["Title"] = "Index";
}
<form asp-controller="Orders" asp-action="Index">
    <input class="ui input" type="date" id="date" name="date"
           placeholder="Выберете дату, в котрую хотите работать..."
           min="2021-09-01" max="2022-09-01">
    <input type="submit" value="Find places" class="btn btn-primary" />

</form>
@ViewBag.Date
<table style="margin-top: 1em" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaceNumber)
            </th>
            <th>
                Items
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @using (Html.BeginForm("OrderTable", "Orders", new { id = item.Id, date = DateTime.Now }, FormMethod.Get))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlaceNumber)
                    </td>
                    <td>

                        <ul>
                            @foreach (var p in ViewBag.PItems)
                            {
                                if (p.WorkplaceId == item.Id)
                                {
                                    foreach (var i in ViewBag.Items)
                                    {
                                        if (p.ItemId == i.Id)
                                        {
                                            <li>@i.Name</li>

                                        }
                                    }
                                }
                            }
                        </ul>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Order" class="btn btn-primary" />
                        </div>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

<h4>Your Orders</h4>
<div class="ui cards">
    @foreach (Orders orders in ViewBag.CorrentUserOrders)
    {
        <div class="ui card">
            <div class="content">
                <div class="center aligned header">@orders.Date.Day/@orders.Date.Month</div>
                <div class="center aligned description">
                    <h6>Place number</h6>
                    <p>@orders.Workplace.PlaceNumber</p>
                </div>
            </div>
            <div class="extra content">
                <div class="center aligned author">
                    <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> @User.Identity.Name
                </div>
            </div>
        </div>
    }
</div>